@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');

/* FONTS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Livvic', arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    background-color: #014E56;
    color: #ffff;
}

img {
    max-width: 100%;
    height: auto;
}


.container {
    width: 100%;
    max-width: 1148px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.btn {
    padding: 9px 32px;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
}



/* SITE HEADER */

.site-header-container {
    padding-top: 73px;
    padding-bottom: 129px;
    display: flex;
    align-items: center;
}

.header-img {
    display: block;
    width: 160px;
    height: 40px;
}

.header-img:active {
    opacity: 0.5;
}

.header-inner {
    display: flex;
    margin-left: 80px;
    list-style: none;
}

.header-item:last-child {
    margin-left: 40px;
}

.nav-item {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.nav-item:hover {
    text-decoration: underline;
    color: #F67E7E;
    transform:  scale(1.2);
    font-size: 20px;
}

.nav-item:active {
    opacity: 0.4;
}

.btn_header {
    text-decoration: none;
    margin-left: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 9px 32px;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
}

.btn_header:hover {
    color: #F67E7E;
    background-color: #b6d2d5;
    border-color: #F67E7E;
    transform: scale3d(1.2);
    font-size: 20px;
}

.btn_header:active {
    opacity: 0.4;
}

.hamburger {
    display: none;
}
/* HEADER END */


/* MAIN PART DESKTOP */
/* SECTION CONTACT */

.contact {

}

.contact_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 114px;
}

.contact_content {

}

.contact_heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    transition: 0.8s;
}

.contact_heading:hover {
    transform: scale3d(1.2);
    color: #F67E7E; 
    font-size: 76px;
}

.contact_text {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    transition: 0.8s;
}

.contact_text:hover {
    transform: scale3d(1.2);
    color: #FFFFFF; 
    font-size: 40px;
}

.contact_list {
    list-style: none;
}

.contact_item {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.item_text {
    margin-left: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    transition: 0.8s;
}

.item_text:hover {
    transform: scale3d(1.2);
    color: #F67E7E;
    font-size: 20px;
}


/* SECTIONS CONTENT PART */

/* SECTIONS FORM PART */
.contact_input {

}

.name { 
    width: 100%;
    display: block;
    margin-top: 24px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    cursor: pointer;
}

.name:hover {
    background-color: #004047;
    color: #F67E7E;
}

.name:active {
    color: #F67E7E;
}

.form_line {
    display: block;
    width: 540px;
    height: 2px;
    background-color: #FFFFFF;
}

.form_line:hover {
    background-color: #F67E7E;
}

.btn {

} 

.contact_btn {
    cursor: pointer;
    margin-top: 24px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #004047;
}

.contact_btn:hover {
    background-color: #004047;
    color: #FFFFFF;
}


/* FOOTER PART DESKTOP */

.footer-wrapper {
    background-color: #002529;
    padding: 48px 48px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-head {
}

.footer-nav {

}

.footer-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.8s linear;
}

.footer-link:hover {
    text-decoration: overline;
    color: #29555a;
    font-size: 20px;
    transform: scale3d(1.2);
}

.tugma {
    margin-left: 40px;
}

.footer-adress {

}

.adress-text {
    width: 165px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.6;
}

.footer-icon {
}

.icon-inner {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.icon-item {
    margin-left: auto;
}

.icon-item:not(:first-child) {
   margin-left: 16px;
}

.icon-text {
    margin-top: 52px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
}
/* FOOTER PART DESKTOP END */